/* main strollbar */

/* width */
::-webkit-scrollbar {
    width: 15px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: black; 
    border: 1px solid #f01367;
    border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #f01367; 
    border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #f01367; 
    }
    
    /* sidebar strollbar */
    
    /* width */
    .sidebar::-webkit-scrollbar {
    width: 7px;
    }
    
    /* Track */
    .sidebar::-webkit-scrollbar-track {
    background: black; 
    }
    .sidebar::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid #f01367;
    }
    
    /* Handle */
    .sidebar::-webkit-scrollbar-thumb {
    background: #f01367; 
    border-radius: 10px;
    }
    
    /* Handle on hover */
    .sidebar::-webkit-scrollbar-thumb:hover {
    background: #721b3c; 
    }

    .content {
        max-width: 800px; /* Adjust this value as needed */
        margin: 0 auto; /* Center the content */
        padding: 20px; /* Add some padding */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for depth */
      }
      
      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 20px; /* Space between headings and paragraphs */
      }
      
      p {
        line-height: 1.6; /* Improve readability */
        margin-bottom: 15px; /* Space between paragraphs */
      }
      
  