---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

$max-width:90%;






@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.notice--success {
    font-size: .9em !important; // Between type-size-5 and type-size-6
}
/* main strollbar */

/* width */
::-webkit-scrollbar {
  width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: black; 
  border: 1px solid #f01367;
  border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #f01367; 
  border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #f01367; 
  }
  
  /* sidebar strollbar */
  
  /* width */
  .sidebar::-webkit-scrollbar {
  width: 7px;
  }
  
  /* Track */
  .sidebar::-webkit-scrollbar-track {
  background: black; 
  }
  .sidebar::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 1px solid #f01367;
  }
  
  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
  background: #f01367; 
  border-radius: 10px;
  }
  
  /* Handle on hover */
  .sidebar::-webkit-scrollbar-thumb:hover {
  background: #721b3c; 
  }
