---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

$max-width:90%;






@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.notice--success {
    font-size: .9em !important; // Between type-size-5 and type-size-6
}

@media (min-width: 80em){
.page {
    width: calc(100% - 400px);
    padding-right: 300px;
}
}
@media (min-width: 64em){
  .page {
      width: calc(100% - 400px);
      padding-right: 300px;
  }
  .sidebar {
    float: left;
    width: calc(300px - 1em);
  }
}
